@import '../../index.scss';

.SurveyPreview {
    margin: 6rem 10rem 2rem 10rem;

    &__preview {
        margin-top: 3rem;
        background-color: $color-grey-light-2;
        color: $color-grey-dark-4;
        padding: 2rem;

        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-column-gap: 2rem;

        &--toolbar {
            font-size: 2.2rem;
            color: $color-primary; 

            > div:not(:first-child) {
                margin: 1.1rem 0;
            }

            > i, :hover {
                color: $color-primary-light;
            }
        }

        &--email {

            > .emailbox {
                background-color: $color-white;
                // width: max-content;

                >  p {
                    padding: .2rem 0 .4rem 1rem;
                }

                > p:first-child {
                    border-bottom: 1px solid $color-grey-light-2;
                   // display: block;
                }
            }

            > .emailBody {
                margin-top: .5rem;
                padding: 2.5rem 2rem;
                background-color: $color-white;

                > * {
                    margin-bottom: 2rem;
                }

                > .question {
                    font-weight: bold;
                    font-size: 1.7rem;
                    text-align: center;
                }

                > .answerBox {
                    text-align: center;
                    margin-bottom: 3rem;

                    > button {
                        margin: 1rem;
                    }

                    > button:first-child {
                        margin-right: 1rem;
                    }
                }

                > .signature {
                    font-weight: bold;
                }
            }

            
        }

        &--stats {
            width: 20rem;
       
            > .numbers {
                margin: 2rem;
            }

            > button {
               display: block;
                margin: 0 auto;
            }
        }
    }

    &__details {
        margin-top: 1rem;
        padding: 2rem;
        background-color: $color-grey-light-2;
        color: $color-grey-dark-4;

        display: grid;
        grid-template-columns: 1fr max-content;

        &--info {
            grid-column: 1 / span 1;
        }

        &--dates {
           margin-bottom: 2rem;
        }

        &--recipients {
          
          > p {
            font-size: 2.2rem;
            font-weight: 300;
          }

          > button {
              margin-top: .5rem;
              padding: 1rem;
          }

          > .recipientsList {
                margin-top: 2rem;
                padding: .5rem;
                background-color: $color-white;
            }
        }

        &--toolbar {
            grid-row: 1 / -1;
            grid-column: 2 / span 1;
        }

        
    }
}