@import '../../index.scss';

.SurveyList {
    color: $color-grey-dark-4;

    &__item {
        background-color: $color-grey-light-2;
        margin-bottom: 2rem;
        display: grid;
        grid-template-rows: 1fr max-content;
        grid-template-columns: 1fr max-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        padding: 2rem 3rem 1rem 2.5rem;
        position: relative;
        overflow: hidden;
        transition: all .2s ease-out;

        &--titleBox {
            grid-row: 1 / span 2;
            
            h3 {
                font-size: 2.6rem;
                font-weight: 300;
            }

            .subject {
                display: inline-block;
                background-color: $color-primary;
                border-radius: 3px;
                color: $color-white;
                padding: .4rem 1rem;
                margin-bottom: 3rem;
                font-weight: 300;
            }
        }

        &--numbers {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
        }

        &--graph {
            grid-row: 1 / span 1;
            grid-column: 3 / span 1;
            width: 15rem;
            align-self: center;
            justify-self: center;
        }
            
        &--lastResponse {
            grid-row: 2 / -1;
            grid-column: 2 / -1;
            justify-self: end;
        }

        &--toolsPanel {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -2rem;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 6rem;
            font-size: 2rem;
            transition: all .2s ease-out;
            opacity: 0;

            &--action {
               transition: all .2s ease-out;
               height: 100%;
               width: 100%;
               
               &:hover {
                   background-color: $color-primary-light;
                   color: $color-white;

                   a {
                       color: $color-white;
                   }
               }
            }

            &--action a {
                display: block;
                color: $color-grey-dark-4;
                height: 100%;
                width: 100%;
                text-align: center;
                padding-top: 1rem;
            }
        }

        .date {
            color: $color-grey-dark-2;
        }

        &__empty {
            color: $color-grey-dark-4;
        }
    }

    &__item:hover #tools {
        right: 0;
        opacity: 1;
    }

    &__item:hover {
        padding-right: 7rem;
    }
}

