@import '../../../index.scss';

.SurveyField {
    &__label {
        font-size: 1.4rem;
        font-weight: 300;
        margin-left: 2rem;
        margin-top: .2rem;
        display: block;
        transition: all .3s;
        opacity: 0;
        transform: translateY(-1rem);
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: $color-grey-dark-2;
        padding: 1.2rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-grey-light-3, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 50%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            background-color: rgba($color-grey-dark-2, .5);
            border-bottom: 3px solid $color-secondary;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }

        &--textarea {
            width: 100%;
            height: 12rem;
            resize: none;
            line-height: 1.5;
            letter-spacing: .1rem;
        }
    }

    &__input:focus + label {
        opacity: 1;
        transform: translateY(0);
    }

    &__error {
        font-style: italic;
        color: $color-form-entry-error;
    }
}