.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2.5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
    }

    
    &:hover {
        transform: translateY(-.3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active, 
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--yellow {
        background-color: $color-secondary;
        color: $color-grey-dark-3;
        
        &::after {
            background-color: $color-secondary;
        }
    }

    &--primaryDark {
        background-color: $color-primary-dark;
        color: $color-grey-light-1;
        
        &::after {
            background-color: $color-primary-dark;
        }

        &:hover {
            background-color: $color-primary;
        }
    }
}

.login-btn {
    background-color: $color-primary;
    color: $color-grey-light-1;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.6rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }

    i {
        margin-right: 1rem;
        font-size: 1.8rem;
    }
}

.inline-link {
    text-decoration: none;
    color: $color-primary-dark;
    font-weight: bold;

    &:hover {
        color: $color-primary;
    }
}