// #F7B733
// #9b59b6

// #fbd14b
// #6a60a9
// #dedcee
// #fffcf0

// #b788cb
// #9b59b6
// #763e8d
// #FFEB77

/*** COLORS ***/
$color-primary: #9b59b6;
$color-primary-light:  #b788cb;
$color-primary-dark: #763e8d;

$color-secondary: #FFEB77;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: rgb(0, 0, 0);


/*** FONT SIZES ***/
$default-font-size: 1.6rem;

