*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10/16 = 62.5%
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    
}

.landing-container{
    display: grid;
    grid-template-rows: 8rem max-content 1vh 10rem 20rem 10rem;
    grid-template-columns: repeat(8, 1fr);
}

.login-container {
    display: grid;
    grid-template-rows: 8rem max-content 1fr;
    grid-template-columns: 1fr 60vw 1fr;
}

.dashboard-container {
    display: grid;
    grid-template-rows: 8rem max-content 1fr;
}

.surveyNew-container {
    display: grid;
    grid-template-rows: 8rem auto;
}